@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MusicShop!</h1>
    
</div>

<img src="~/musicshop.jpg" />

<p>
</p>
<p>


    We provide all of your favorite songs. Please check out our selection of songs
    in the Music tab. Choose MusicShop to find all of your digital or hard copy
    songs!
</p>

