@model Assignment5.Models.MusicInventory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MusicInventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="musicTitle" class="control-label"></label>
                <input asp-for="musicTitle" class="form-control" />
                <span asp-validation-for="musicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <input asp-for="genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="performer" class="control-label"></label>
                <input asp-for="performer" class="form-control" />
                <span asp-validation-for="performer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeOfDownload" class="control-label"></label>
                <input asp-for="typeOfDownload" class="form-control" />
                <span asp-validation-for="typeOfDownload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yearReleased" class="control-label"></label>
                <input asp-for="yearReleased" class="form-control" />
                <span asp-validation-for="yearReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
